[Unit]
Description=Concierge HTTP(S) server
After=network.target

[Service]
ExecStart=/usr/local/bin/concierge -c /etc/concierge/concierge.toml
Restart=always

[Install]
WantedBy=multi-user.target